* {
  box-sizing: border-box;
}

html {
  background: #0b101a;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

body,
button,
input {
  font-family: 'Inter', sans-serif;
}

button,
input {
  font: inherit;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}
